body {
	background-image: url('../img/bground.jpg');
	background-size: cover;	
	background-attachment: fixed;
}

h1 {		
	text-transform: uppercase;
	text-align: center;
}

h1, h2 {
	color: #009aff;
	text-shadow: 2px 2px 2px #000000;
}

.site-content {
	max-width: 1300px;
	margin: 0 auto;
}

.page-content {
	width: 80%;
	margin: 25px auto 50px auto;
	padding: 12px;
	background: rgba(255, 255, 255, 0.80);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.96);
}

.user-profile-content {
	width: 90%;
	margin: 20px auto 0 auto;
}


/*----- HOMEPAGE ELEMENTS -----*/
	.teams {
		text-align: center;
	}

	.team-name {
		font-weight: bold;
		color: #046EB3;
		letter-spacing: 1px;
	}

			.team-row span {
				color: #000000;				
			}
	
	/* SLIDER */
	.orbit-container>.orbit-slides-container>img {
		min-width: 100% !important;
	}	

	.orbit-container .orbit-slides-container > * .orbit-caption {
		background-color: rgba(0, 154, 185, 0.8);
		font-weight: bold;
		font-size: 1rem;
	}

	.orbit-bullets {
		margin: 0 auto 10px auto !important;
	}

	.homepage-elems {
		margin: 700px 0 auto;
		background-color: #ffffff;
		position: relative;
		z-index: 9999999 !important;
		width: 100%;
		opacity: 1 !important;
	}

		.homepage-elems img {
			opacity: 1 !important;
		}

		.homepage-elems .panel {
			margin: 0;
		}
/* NAVIGATION BAR CONTENTS */

.site-title {
	font-weight: bold;
	font-size: 20px !important;
	text-shadow: none;
	color: #ffffff;
	/*margin: auto auto auto 14px;*/
}
	.site-title img {
		margin-right: 3px;
	}

.pbahub-logo {
	margin: auto 2px auto 10px !important;
}

.topbar-content, .topbar-content li a, .footer {
	background-color: #008CBA !important;
}

.contain-to-grid {
	background-color: #008CBA !important;
}

/*----- PANEL -----*/
fieldset {
	margin-bottom: 0;
}

		fieldset legend {
			background: none;
			color: #ffffff;
		}

		fieldset label {
			color: #ffffff;
		}

/*----- FOOTER -----*/
.footer { 
	color: #ffffff;
	text-align: center;
	padding: 10px;
}

/* FIX FOOTER AT THE BOTTOM */
.anchored-footer {
	bottom: 0;
	position: fixed;	
}

/*----- FORMS -----*/

/*----- FAIL MESSAGE -----*/
.fail-message {
	color: red;
	text-shadow: 1px 1px 0px #000000;
}

/*----- BUTTONS or LINKS -----*/
.form-button {	
    margin: 0 auto;    
}

/* LOGIN */
.fget-pword {
	padding: 0;
	width: 100%;
	margin: auto auto 20px auto;
}

		.fget-pword a {
			color: #ffffff;
			font-weight: bold;
		}

.submit-btn {
		margin: 20px auto 20px auto;
}

/*----- MEDIA QUERIES -----*/
@media only screen and (min-width: 40.063em){
	h1 {
		text-align: center;
		font-size: 2.05rem;
	}

	h2 {
		text-align: center;
		font-size: 1.80rem;
		overflow: 
	}
	
	/* WIDTH OF ROWS USING THIS SCREEN RESOLUTION */
	.row-content {
		max-width: 1300px;
	}
	
	/* NAVBAR */
	.top-bar-section li:not(.has-form) a:not(.button):hover {
		background-color: #009aff !important;
	}

	.contain-to-grid .top-bar {
		max-width: 70rem;
	}

	/* EXPANDED TOPBAR */
	.top-bar.expanded {
	    height: auto;
	    background: transparent; 
	}   

      .top-bar.expanded .toggle-topbar a span::after {
        box-shadow: 0 0px 0 1px #009aff, 0 7px 0 1px #009aff, 0 14px 0 1px #009aff; }


}

@media only screen and (max-width: 21.125em) {
	h1 {
		text-align: center;
		font-size: 1.25rem;
	}

	h2 {
		text-align: center;
		font-size: 1.0rem;
	}
}

@media only screen and (max-width: 640px) {
	/* SIGNUP ACCOUNT INFORMATION */
	.signup-account-info {
		margin-top: 38px;
	}

	/* PBA HUB LOGO */
	.site-title {
		text-align: left;
	}

	/* TOPBAR */
	.top-bar.expanded .title-area {
      background: none !important; 
  	  border-bottom: 1px solid #ffffff;
  	}

  	.top-bar.expanded .toggle-topbar a {
  		color: #000000 !important;
  	}

  	.topbar-content li a:hover {
			background-color: #009aff !important;
		}
}


.achievement, .stat, .pastteam, .history-team, .achievement-team, .currentplayers-team, .pastplayers-team, .notableplayers-team,.prodcomment{
	display:none;
}

/* USER PROFILE PAGE*/
.user-profile {
	max-width: 1024px;	
	margin-top: 10px;
}

.profile-content {
	display: flex;
	width: 80%;
	margin: 0 auto;	
}
	.left-content {
		text-align: center;
	}
	.right-content {
		margin: 0 0 0 15px;
	}

.profile-text {
	color: #009aff;
	text-shadow: 2px 2px 2px #000000;
	text-align: left;
}

/* TABLE CONTENT */
.table-content {
	text-align: left;
}

.table-header {
	text-align: center;
}

/* CONTENT HEADER */
.header {
	display: flex;
	background-color: rgba(0, 112, 149, 0.79);
	/*008cce*/
	margin-bottom: 10px;
	border-radius: 8px;
	height: 50px;
}

	.header-content {
		text-align: left;	
		max-width: 100%;
		color: white;
	}

		.header-content {
			text-transform: none;
		}

		.header-content-img {
			width: 20px;
		}

	.header-img {
		width: 24px;	
	}
textarea{
	resize:none;
}


/* PRODUCTS */

.individualProduct {
	border: none !important;
	height: auto !important;
	text-align: center !important;
}

#individualProductBid {
	text-align:center;
	height:150px;	
}


#productPanel {
	background: none;
	border-style: none;
}

.product-element {
	height: 120px;
	margin-bottom: 60px;
}

.slick-slide {
	text-align: center;
}

.slick-slide img {
	width: 	300px;
	height: 300px;
}

/*-- User Profile page --*/
.slick-slide .prof-prod-img {
		width: 200px;
		height: 200px;
		margin: 5px auto;
}

h2.product-name {
	color: #009aff !important;
	margin-top: 90px;	
}

/*-- User Elements on a product page --*/
.slick-slide .user-photo {
	width: 75px;
	height: 75px;
}

.slick-slide .userName {
	margin-top: 10px;
}

/* BIDDING PAGE */

.product-info {
		color: #ffffff;
		text-shadow: 2px 2px 2px #000000;
	}

.product-img {
	padding: 5px;
}

.yourbid {
	width: 250px;
}

/* TEAMS PAGE */

.table-img {
	vertical-align: middle;
}

/* IMAGE FRAME */
.frame {
	background-color: rgba(77, 195, 219, 0.8);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 8px;
	-webkit-box-shadow: 2px 2px 5px #000000;
	-moz-box-shadow: 2px 2px 5px #000000;
	box-shadow: 2px 2px 5px #000000;
}

/* PROFILE PAGES */

.profile-page p {
	font-weight: bold;
}

/* FOR THE DIFFERENT PAGES: TEAMS, CAOACHES, PRODUCTS */
.list-pages {
	background: none !important;
}

div.dataTables_length label, div.dataTables_filter label, div.dataTables_info, ul.pagination li.unavailable a, ul.pagination li.unavailable button, ul.pagination li a, ul.pagination li button {
	color: 	#000000 !important;
}

ul.pagination li.current a {
	color: 	#ffffff !important;
}


