body {
	background-image: url('../img/bground.jpg');
	background-size: cover;	
	background-attachment: fixed;
}

h1 {		
	text-transform: uppercase;
	text-align: center;
}

h1, h2 {
	color: #009aff;
	text-shadow: 2px 2px 2px #000000;
}

/*----- HOMEPAGE -----*/
	.teams {
		text-align: center;
	}

	.team-name {
		font-weight: bold;
		text-transform: uppercase;
		color: #ffffff;
		text-shadow: 2px 2px 2px #000000;
	}

			.team-row span {
				color: #ffffff;
				text-shadow: 2px 2px 1px #000000;
			}
	
	/* SLIDER */
	.orbit-container>.orbit-slides-container>img {
		min-width: 100% !important;
	}	

	.orbit-container .orbit-slides-container > * .orbit-caption {
		background-color: rgba(0, 154, 185, 0.8);
		font-weight: bold;
		font-size: 1rem;
	}

	.orbit-bullets {
		margin: 0 auto 10px auto !important;
	}

/* NAVIGATION BAR CONTENTS */

.site-title {
	font-weight: bold;
	font-size: 20px !important;
	text-shadow: none;
	color: #ffffff;
	/*margin: auto auto auto 14px;*/
}
	.site-title img {
		margin-right: 3px;
	}

.pbahub-logo {
	margin: auto 2px auto 10px !important;
}

.topbar-content, .topbar-content li a, .footer {
	background-color: #009ACD !important;
}

/*----- PANEL -----*/
fieldset {
	margin-bottom: 0;
}

		fieldset legend {
			background: none;
			color: #ffffff;
		}

		fieldset label {
			color: #ffffff;
		}

/*----- FOOTER -----*/
.footer { 
	color: #ffffff;
	text-align: center;
	padding: 10px;
}

/* FIX FOOTER AT THE BOTTOM */
.login-footer {
	bottom: 0;
	position: fixed;	
}

/*----- FORMS -----*/

/*----- FAIL MESSAGE -----*/
.fail-message {
	color: red;
	text-shadow: 1px 1px 0px #000000;
}

/*----- BUTTONS or LINKS -----*/
.form-button {	
    margin: 0 auto;    
}

/* LOGIN */
.fget-pword {
	padding: 0;
	width: 100%;
	margin: auto auto 20px auto;
}

		.fget-pword a {
			color: #ffffff;
			font-weight: bold;
		}

.submit-btn {
		margin: 20px auto 20px auto;
}

/*----- MEDIA QUERIES -----*/
@media only screen and (min-width: 40.063em){
	h1 {
		text-align: center;
		font-size: 2.05rem;
	}

	h2 {
		text-align: center;
		font-size: 1.80rem;
		overflow: 
	}
	
	/* WIDTH OF ROWS USING THIS SCREEN RESOLUTION */
	.row-content {
		max-width: 1300px;
	}
	
	/* NAVBAR HOVER */
	.top-bar-section li:not(.has-form) a:not(.button):hover {
		background-color: #009aff !important;
	}

	/* EXPANDED TOPBAR */
	.top-bar.expanded {
	    height: auto;
	    background: transparent; 
	}   

      .top-bar.expanded .toggle-topbar a span::after {
        box-shadow: 0 0px 0 1px #009aff, 0 7px 0 1px #009aff, 0 14px 0 1px #009aff; }


}

@media only screen and (max-width: 21.125em) {
	h1 {
		text-align: center;
		font-size: 1.25rem;
	}

	h2 {
		text-align: center;
		font-size: 1.0rem;
	}
}

@media only screen and (max-width: 640px) {
	/* SIGNUP ACCOUNT INFORMATION */
	.signup-account-info {
		margin-top: 38px;
	}

	/* PBA HUB LOGO */
	.site-title {
		text-align: left;
	}

	/* TOPBAR */
	.top-bar.expanded .title-area {
      background: none !important; 
  	  border-bottom: 1px solid #ffffff;
  	}

  	.top-bar.expanded .toggle-topbar a {
  		color: #000000 !important;
  	}

  	.topbar-content li a:hover {
			background-color: #009aff !important;
		}

}


.achievement, .stat, .pastteam, .history-team, .achievement-team, .currentplayers-team, .pastplayers-team, .notableplayers-team{
	display:none;
}